<a href="https://colab.research.google.com/github/souradipta93/NLP/blob/main/word_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re

In [2]:
data1 = pd.read_csv('bbctext.csv')
data1.shape

(2225, 2)

In [3]:
data1.columns

Index(['category', 'text'], dtype='object')

In [4]:
import nltk
#nltk.download()

In [7]:
#remove stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
#Adding custom stop words
new_words=[]
new_words = ["some","one","like","time","br","could","good",'even', 'get', 'would',
             'make', 'really', 'see', 'well', 'much', 'great', 'first', 'people', 'also', 'bad', 
             'show', 'way', 'thing', 'made', 'go', 'think', 'know', 'look','many', 'see', 'seen',
            'http','com', 'code', 'gt', 'lt', 'li', 'ol', 'ul', 'image', 'stack', 'imgur', 'div']
stop_words = stop_words.union(new_words)

In [9]:
#Lemmatisation
from nltk.stem.wordnet import WordNetLemmatizer

In [10]:
data1['text'] = data1['text'].astype(str)

In [12]:
nltk.download('wordnet')
corpus = []
for i in range(0, data1.shape[0]):
    #Remove punctuations
    text = re.sub('[^a-zA-Z]', ' ', data1['text'][i])
    
    #Convert to lowercase
    text = text.lower()
    ##Convert to list from string
    text = text.split()
    ##Lemmatizing
    lm = WordNetLemmatizer() 
       
    
    text = [lm.lemmatize(word) for word in text if not word in stop_words] 
    text = " ".join(text)
    corpus.append(text)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [13]:
corpus[300]

'star pay tribute actor davis hollywood star including spike lee burt reynolds oscar nominee alan alda paid tribute actor ossie davis funeral new york veteran star ossie davis known civil right activist died miami age february friend family including actress ruby dee wife year gathered riverside church saturday present service former u president bill clinton singer harry belafonte gave eulogy president united state said mr clinton gave gave year old found dead last weekend hotel room florida making film police said appeared died natural cause davis acting debut starring sidney poiter frequently collaborated director spike lee starring seven lee film including jungle fever right malcolm x attallah shabazz daughter activist malcolm x recalled famous eulogy delivered davis father funeral harlem come bid farewell finest hope said quoting man knew uncle ossie ditto ossie hero still said aviator star alan alda family friend forty year ossie beauty want badly someday dignity little anyway added burt reynolds davis co star tv comedy evening shade midday funeral score harlem resident formed queue outside church pay respect davis hard fathom longer able call wisdom humour loyalty moral strength guide u choice yet battle yet fought said belafonte ardent civil right activist friend davis year fortunate long'

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
## Applying tf-idf vectoriser to the corpus

from sklearn.feature_extraction.text import TfidfVectorizer
# Fit the tf-idf model
tfv = TfidfVectorizer(stop_words=stop_words, ngram_range=(1,2), min_df = 0.0005)

In [16]:
# tokenize and build vocab
tfmat = tfv.fit_transform(corpus)
tfmat.shape

(2225, 76608)

In [17]:
feature_names=tfv.get_feature_names()

In [18]:
from sklearn.cluster import KMeans

num_clusters = 5

km = KMeans(n_clusters=num_clusters)

%time km.fit(tfmat)

clusters = km.labels_.tolist()

CPU times: user 1min 12s, sys: 15.6 s, total: 1min 27s
Wall time: 1min 10s

In [19]:
df = pd.DataFrame(data1['text'])
df['category']=data1['category']
df['cluster']=clusters
df.head()

                                                text       category  cluster
0  tv future in the hands of viewers with home th...           tech        4
1  worldcom boss  left books alone  former worldc...       business        2
2  tigers wary of farrell  gamble  leicester say ...          sport        1
3  yeading face newcastle in fa cup premiership s...          sport        1
4  ocean s twelve raids box office ocean s twelve...  entertainment        0

In [20]:
df['cluster'].value_counts()

2    614
1    520
4    391
3    350
0    350
Name: cluster, dtype: int64

In [21]:
ct_cluster =pd.crosstab(index=df['cluster'],
           columns=df['category'],
           values=df['cluster'],
           aggfunc='count',
           normalize='index').round(3)
ct_cluster

category  business  entertainment  politics  sport   tech
cluster
0            0.000          0.989     0.000  0.003  0.009
1            0.000          0.008     0.027  0.960  0.006
2            0.816          0.049     0.086  0.018  0.031
3            0.009          0.000     0.989  0.000  0.003
4            0.015          0.015     0.010  0.000  0.959

In [22]:
order_centroids = km.cluster_centers_.argsort()[:, ::-1]
order_centroids

array([[24535,  4574,  6175, ..., 47733, 47732,     0],
       [27088, 21377, 49810, ..., 46772, 46771, 38303],
       [57441,  7157, 12844, ..., 36241, 36240, 76607],
       [43304, 36219, 20710, ..., 46403, 46402,     0],
       [42365, 49024, 27088, ..., 43590, 43589, 38303]])

In [23]:
df_centroids = pd.DataFrame(order_centroids)
df_centroids.head()

   0      1      2      3      4      ...  76603  76604  76605  76606  76607
0  24535   4574   6175  64387   5119  ...  47735  47734  47733  47732      0
1  27088  21377  49810  74562  57441  ...  46776  46774  46772  46771  38303
2  57441   7157  12844  75793  25036  ...  36243  36242  36241  36240  76607
3  43304  36219  20710  57441  47998  ...  46405  46404  46403  46402      0
4  42365  49024  27088  67518  57441  ...  43592  43591  43590  43589  38303

[5 rows x 76608 columns]

In [24]:
df_centroids.shape

(5, 76608)

In [25]:
for index, row in df_centroids.iterrows():
    print(feature_names[row[0]], 
          feature_names[row[1]], 
          feature_names[row[2]],
          feature_names[row[3]],
          feature_names[row[4]],
          feature_names[row[5]])

film award best star band oscar
game england player win said match
said bn company year firm bank
mr labour election said party blair
mobile phone game technology said user

In [26]:
ct_cluster

category  business  entertainment  politics  sport   tech
cluster
0            0.000          0.989     0.000  0.003  0.009
1            0.000          0.008     0.027  0.960  0.006
2            0.816          0.049     0.086  0.018  0.031
3            0.009          0.000     0.989  0.000  0.003
4            0.015          0.015     0.010  0.000  0.959